<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sato.title %>
</p>

<p>
  <strong>Context:</strong>
  <%= @sato.context %>
</p>

<%= link_to 'Edit', edit_sato_path(@sato) %> |
<%= link_to 'Back', satos_path %>
